<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Try It On Today %></h1>
    <p>
        Here goes fancy text
    </p>  
  </body>
</html>