<div class="container-fluid>">
    <div class="row justify-content-center">
        <div class="col-6">    
            <h1 style="text-align: center">Same day clothes delivery</h1>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
                
        <%= form_tag({controller: "malls", action: "index"}, method: "get") do %>
            <input type="text" class="form-control" placeholder="Postal Code" aria-label="Postal Code" name="location">
            <br>
            <button type="submit" class="btn btn-success btn btn-block">Search</button>    
        <% end %>
        </div>
    </div>
    <h1>Same day clothes delivery Oakville, Burlington, Milton, Mississauga</h1>
    <h1>Aldo same day delivery</h1>
    <h1>Addition Elle same day delivery</h1>
    <h1>American Eagle Outfitters same day delivery</h1>
    <h1>Banana Republic day delivery</h1>
    <h1>Bikini Bay same day delivery</h1>
    <h1>Bikini Village same day delivery</h1>
    <h1>Bluenotes same day delivery</h1>
    <h1>Boathouse same day delivery</h1>
    <h1>Browns same day delivery</h1>
    <h1>Carters Oshkosh same day delivery</h1>
    <h1>Clarks same day delivery</h1>
    <h1>Cleo same day delivery</h1>
    <h1>Dynamite same day delivery</h1>
    <h1>Foot Locker same day delivery</h1>
    <h1>Forever 21 same day delivery</h1>
    <h1>Garage same day delivery</h1>
    <h1>Gap same day delivery</h1>
    <h1>Geox same day delivery</h1>
    <h1>Gymboree same day delivery</h1>
    <h1>H&M same day delivery</h1>
    <h1>Hot Topic same day delivery</h1>
    <h1>Jean Machine same day delivery</h1>
    <h1>J.Michaels same day delivery</h1>
    <h1>La Senza same day delivery</h1>
    <h1>Laura same day delivery</h1>
    <h1>Le Chateau same day delivery</h1>
    <h1>Lululemon same day delivery</h1>
    <h1>Melanie Lyne same day delivery</h1>
    <h1>Naturalizer same day delivery</h1>
    <h1>Nine West same day delivery</h1>
    <h1>Northern Reflections same day delivery</h1>
    <h1>Pink same day delivery</h1>
    <h1>Reitmans same day delivery</h1>
    <h1>RW & CO same day delivery</h1>
    <h1>Roots same day delivery</h1>
    <h1>SoftMoc same day delivery</h1>
    <h1>Sport Check same day delivery</h1>
    <h1>Spring same day delivery</h1>
    <h1>Suzy same day delivery</h1>
    <h1>Topshop same day delivery</h1>
    <h1>Townshoes same day delivery</h1>
    <h1>The Shoe Company same day delivery</h1>
    <h1>Thyme Maternity same day delivery</h1>
    <h1>Victoria's Secret same day delivery</h1>
    <h1>Walking on a cloud same day delivery</h1>
    <h1>Zara same day delivery</h1>
</div>