<div class="container-fluid">
<div class="row justify-content-around">
    
    <div class="column-5 px-3">
        <%= render partial: "item_form" %>
    </div>

    <% if @place_order_button %>
        <div class="column-5 px-3">
            <%= render partial: "items_list", locals: {items: @items, place_order_button: @place_order_button} %>
        </div>
    <% end %>

</div>
</div>

