<div class="container-fluid">
<div class="row justify-content-center">
<div class="column-6">

<%= render partial: "items_list", locals: {items: @items, place_order_button: @place_order_button} %>
<%= render partial: "item_form" %>

</div>
</div>
</div>

