<div class="container-fluid">
<div class="row justify-content-center">
    
    <% if @place_order_button %>
        <div class="column-6">
            <%= render partial: "items_list", locals: {items: @items, place_order_button: @place_order_button} %>
        </div>
    <% end %>

    <div class="column-6">
        <%= render partial: "item_form" %>
    </div>

</div>
</div>

